.popup{
    width: 500px;
    height: 300px;
    background: #ffffff;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #ff0026;
    border: 2px solid #095256;
}

.popup img{
    width: 200px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 140px 0 10px;
}

#timer {
    font-size: 48px;
    color: #095256;
    background: #fff;
    border: 2px solid #095256;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 30px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

