
<div class="page">
    <header>
        <h1>Unity Financial</h1>
        <a class="back-button" routerLink="/">Назад</a>
    </header>
    <body>
        <main>
            <section class="services">
                <div class="services-container">
                    <div *ngFor="let item of page" class="service">
                            <h3>{{item.name}}</h3>
                            <p>{{item.description}}</p>
                            <label for="serviceNumber">Номер послуги:</label>
                            <input id="serviceNumber" type="text" [(ngModel)]="item.serviceNumber" placeholder="Введіть номер послуги">
                            <label for="paymentAmount">Сума для сплати:</label>
                            <input id="paymentAmount" type="number" [(ngModel)]="item.amount" placeholder="Введіть суму">
                            <div class="error-message" *ngIf="item.amountErrorMessage">{{ item.amountErrorMessage }}</div>
                            <button class="service-button" (click)="onConfirm(item)">Сплатити</button>
                    </div>
                </div>
            </section>
        </main>
    </body>
</div>
